@font-face {
  font-family: "iconfont"; /* Project id 2805483 */
  src: url('iconfont.woff2?t=1631351163050') format('woff2'),
       url('iconfont.woff?t=1631351163050') format('woff'),
       url('iconfont.ttf?t=1631351163050') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yezi:before {
  content: "\e605";
}

.icon-shebeiguanli:before {
  content: "\e6b0";
}

.icon-xiangmuguanli:before {
  content: "\e600";
}

.icon-jubanzhanlan-huiyishenqing:before {
  content: "\e69d";
}

.icon-shenhe:before {
  content: "\fba8";
}

